<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}

    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link type="application/rss+xml" href="/feed.xml" rel="alternate" title="Mike Perham">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/pygments.css" | prepend: site.baseurl }}">
    {% include search.html %}
</head>
